html{
    scroll-behavior: smooth;
}

/* Reset */
body, body *{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.color1{
    background-color:#5ECFCF ;
}

.text1{
font-size: 1rem;
}

/*Margenes para los elementos*/
.MargenContenedor{
    margin-right: 2rem;
    margin-left: 2rem;
}

.colorborde{
    border-bottom: #5ECFCF;
    border-bottom-style: solid;
}

.margenElementos{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Barra Navegacion */
nav img{
    width: 3rem;
}

/* carusel */
#carouselExampleControls img{
    height: 50vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 0 auto;
}

.QuienesSomos{
    background-color: black;
    color: white;
    height: 35%;
}

.bg-card{
    background-color: #000;
    border-width: 0px;
}

.img1{
    height: 40%;
}

.Fondosections{
    background-color: black;
    color: white;
}

footer{
    height: 4rem;
    background-color: #5ECFCF;
    color: white;
    padding-top: 1rem;
}

.box{
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}